<head>
    <title>ProblemHunt</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <% for(let i=0; i < additionalScripts.length; i++) { %>
        <script src="<%= additionalScripts[i] %>"></script>
    <% } %>
</head>
