<div id="cardProblem" class="card bg-base-100 rounded-2xl w-full border-2 <%= color %> mb-4">
    <div class="card-body p-4">
        <span class="text-left font-bold"><kbd class="kbd kbd-sm">➜</kbd> <%= msg %></span>
    </div>
</div>