<!-- Modal WelcomeMsg: -->
<dialog id="mdlWelcomeMsg" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h2 class="text-2xl font-bold text-left"><%= lng.modalWelcomeTitle %></h3>
        <div class="py-2 text-base text-left">
            <%= lng.modalWelcomeDescription %>
        </div>
        <div class="modal-action w-full text-center">
            <form method="dialog" class="w-full">
                <button class="btn join-item btn-success btn-outline text-base border-2 font-bold w-full !rounded-lg">
                    <%= lng.modalWelcomeBtnCTA %>
                </button>
            </form>
        </div>
    </div>
</dialog>